@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #a840897a, #f24b6a69);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #FFDA66;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #f24b6a8e;
    text-align: center;
    text-shadow: 1px 1px 2px #a7666681;
    ;

}

h2{
    color: #1FCECB;
}

p{
    text-align: justify;
}